<h2>Upcoming</h2>
<!--<div id="upcoming-events">
	<div class="upcoming-event">
		<div class="status"></div>
		<a href="#"><h3>Test #2</h3></a>
		<p>Today <span class="time">@ 5PM</span></p>
	</div>
	<div class="upcoming-event">
		<div class="status"></div>
		<a href="#"><h3>Final Project Proposal</h3></a>
		<p>Friday <span class="time">@ Midnight</span></p>
	</div>
</div>-->